In [32]:
import Keeplearning
from Keeplearning.metrics import *
from Keeplearning.load_data import *
from Keeplearning.list_processing import *
from Keeplearning.image_processing import *

import numpy as np
import matplotlib.pyplot as plt
import glob
import pandas as pd

In [33]:
def one_hot(np_array,channel,ignore_background=True):
    assert channel > 1
    
    results = []
    for idx in range(channel+1):
        
        result = np_array.copy()
        
        if idx == 0:
            if ignore_background == True:
                pass
            else:
                result[result!=0] = 2
                result[result==0] = 1
                result[result==2] = 0
                results.append(result)
                
        else:
            result[result!=idx] = 0
            result[result!=0] = 1
            results.append(result)
    
    return np.array(results)

In [ ]:
path_gt = 'data/Task01_Tendon_5ch/labelsTs/'
path_pred = 'OUTPUT_FOLDER/Tendon/2D_5ch/'
list_gt = list_sort_nicely(glob.glob(path_gt+'*.nii.gz'))
list_pred = list_sort_nicely(glob.glob(path_pred+'*.nii.gz'))[:10]
print('gt:',len(list_gt),'pred:',len(list_pred))

In [39]:
path_gt = 'data/Task01_Tendon_5ch/labelsTs/'
path_pred = 'OUTPUT_FOLDER/Tendon/3D_5ch/'
list_gt = list_sort_nicely(glob.glob(path_gt+'*.nii.gz'))
list_pred = list_sort_nicely(glob.glob(path_pred+'*.nii.gz'))[:10]
print('gt:',len(list_gt),'pred:',len(list_pred))

gt: 20 pred: 10

In [ ]:
path_gt = 'data/Task02_Tendon_4ch/labelsTs/'
# path_pred = 'OUTPUT_FOLDER/Tendon/3D/'
path_pred = 'OUTPUT_FOLDER/Tendon/2D_4ch/'
list_gt = list_sort_nicely(glob.glob(path_gt+'*.nii.gz'))
list_pred = list_sort_nicely(glob.glob(path_pred+'*.nii.gz'))[:10]
print('gt:',len(list_gt),'pred:',len(list_pred))

In [ ]:
path_gt = 'data/Task02_Tendon_4ch/labelsTs/'
# path_pred = 'OUTPUT_FOLDER/Tendon/3D/'
path_pred = 'OUTPUT_FOLDER/Tendon/3D_4ch/'
list_gt = list_sort_nicely(glob.glob(path_gt+'*.nii.gz'))
list_pred = list_sort_nicely(glob.glob(path_pred+'*.nii.gz'))[:10]
print('gt:',len(list_gt),'pred:',len(list_pred))

In [ ]:
path_gt = 'data/Task03_Tendon_6ch/labelsTs/'
# path_pred = 'OUTPUT_FOLDER/Tendon/3D/'
path_pred = 'OUTPUT_FOLDER/Tendon/2D_6ch/'
list_gt = list_sort_nicely(glob.glob(path_gt+'*.nii.gz'))
list_pred = list_sort_nicely(glob.glob(path_pred+'*.nii.gz'))[:5]
print('gt:',len(list_gt),'pred:',len(list_pred))

In [ ]:
path_gt = 'data/Task03_Tendon_6ch/labelsTs/'
# path_pred = 'OUTPUT_FOLDER/Tendon/3D/'
path_pred = 'OUTPUT_FOLDER/Tendon/3D_6ch/'
list_gt = list_sort_nicely(glob.glob(path_gt+'*.nii.gz'))
list_pred = list_sort_nicely(glob.glob(path_pred+'*.nii.gz'))[:5]
print('gt:',len(list_gt),'pred:',len(list_pred))

In [ ]:
path_gt = 'data/Task04_Tendon_1ch/labelsTs/'
# path_pred = 'OUTPUT_FOLDER/Tendon/3D/'
path_pred = 'OUTPUT_FOLDER/Tendon/2D_1ch/'
list_gt = list_sort_nicely(glob.glob(path_gt+'*.nii.gz'))
list_pred = list_sort_nicely(glob.glob(path_pred+'*.nii.gz'))[:10]
print('gt:',len(list_gt),'pred:',len(list_pred))

In [ ]:
path_gt = 'data/Task04_Tendon_1ch/labelsTs/'
path_pred = 'OUTPUT_FOLDER/Tendon/3D_1ch/'
list_gt = list_sort_nicely(glob.glob(path_gt+'*.nii.gz'))
list_pred = list_sort_nicely(glob.glob(path_pred+'*.nii.gz'))[:10]
print('gt:',len(list_gt),'pred:',len(list_pred))

In [44]:
path_gt = 'data/Task01_Tendon_5ch/labelsTs/'
path_pred = 'OUTPUT_FOLDER/Tendon/3D_5ch/'
list_gt = list_sort_nicely(glob.glob(path_gt+'*.nii.gz'))[10:]
list_pred = list_sort_nicely(glob.glob(path_pred+'*.nii.gz'))[10:]
print('gt:',len(list_gt),'pred:',len(list_pred))
list_gt,list_pred

gt: 10 pred: 10

(['data/Task01_Tendon_5ch/labelsTs/massiveRCT_F66 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/partial_02032079 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/partial_02035506 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/partial_02077967 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/small_4 02119076 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/small_4 02120721 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/small_5 01890248 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/small_6 02111419 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/small_6 02225269 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/small_7 02240206 segmentation.nii.gz'],
 ['OUTPUT_FOLDER/Tendon/3D_5ch/massiveRCT_F66.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/partial_02032079.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/partial_02035506.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/partial_02077967.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/small_4  02119076  F64.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/small_4  02120721  M72.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/small_5  01890248  F59.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/small_6  02111419  F57.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/small_6   02225269  F63.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/small_7  02240206  M38.nii.gz'])

In [45]:
dices = []
recalls = []
specificitys = []

for idx_id in range(len(list_pred)):
    num_ch = 6
    print('\n',idx_id,list_gt[idx_id],list_pred[idx_id],'\n')
    gt = data_load_nii(list_gt[idx_id])
    pred = data_load_nii(list_pred[idx_id])
    gt = one_hot(gt,num_ch)
    pred = one_hot(pred,num_ch)

    for idx_ch in range(num_ch):
        dice = score_dice(gt[idx_ch],pred[idx_ch])
        recall = score_recall(gt[idx_ch],pred[idx_ch])
        specificity = score_specificity(gt[idx_ch],pred[idx_ch])
#         print(idx_ch+1, dice)
        dices.append(dice)
        recalls.append(recall)
        specificitys.append(specificity)

 0 data/Task01_Tendon_5ch/labelsTs/massiveRCT_F66 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/massiveRCT_F66.nii.gz


 1 data/Task01_Tendon_5ch/labelsTs/partial_02032079 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/partial_02032079.nii.gz


 2 data/Task01_Tendon_5ch/labelsTs/partial_02035506 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/partial_02035506.nii.gz


 3 data/Task01_Tendon_5ch/labelsTs/partial_02077967 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/partial_02077967.nii.gz


 4 data/Task01_Tendon_5ch/labelsTs/small_4 02119076 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/small_4  02119076  F64.nii.gz


 5 data/Task01_Tendon_5ch/labelsTs/small_4 02120721 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/small_4  02120721  M72.nii.gz


 6 data/Task01_Tendon_5ch/labelsTs/small_5 01890248 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/small_5  01890248  F59.nii.gz


 7 data/Task01_Tendon_5ch/labelsTs/small_6 02111419 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/small_6  02111419  F57.nii.gz


 8 data/Task01_Tendon_5ch/labelsTs/small_6 02225269 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/small_6   02225269  F63.nii.gz


 9 data/Task01_Tendon_5ch/labelsTs/small_7 02240206 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/small_7  02240206  M38.nii.gz

In [46]:
dices = np.array(dices)
print(dices.shape)
dices = np.reshape(dices,(int(len(dices)/6),6))
df = pd.DataFrame(dices)
df

(60,)

     0    1          2    3    4    5
0  0.0  0.0  53.117292  0.0  0.0  0.0
1  0.0  0.0  63.102193  0.0  0.0  0.0
2  0.0  0.0  58.046238  0.0  0.0  0.0
3  0.0  0.0  59.469858  0.0  0.0  0.0
4  0.0  0.0  27.862083  0.0  0.0  0.0
5  0.0  0.0  46.026357  0.0  0.0  0.0
6  0.0  0.0  62.483634  0.0  0.0  0.0
7  0.0  0.0  63.503412  0.0  0.0  0.0
8  0.0  0.0  48.296329  0.0  0.0  0.0
9  0.0  0.0  50.948902  0.0  0.0  0.0

In [47]:
recalls = np.array(recalls)
print(recalls.shape)
recalls = np.reshape(recalls,(int(len(recalls)/6),6))
df = pd.DataFrame(recalls)
df

(60,)

     0    1          2    3    4    5
0  0.0  0.0  46.897615  0.0  0.0  0.0
1  0.0  0.0  51.670826  0.0  0.0  0.0
2  0.0  0.0  52.854744  0.0  0.0  0.0
3  0.0  0.0  58.498820  0.0  0.0  0.0
4  0.0  0.0  16.848406  0.0  0.0  0.0
5  0.0  0.0  34.585157  0.0  0.0  0.0
6  0.0  0.0  57.394093  0.0  0.0  0.0
7  0.0  0.0  53.391220  0.0  0.0  0.0
8  0.0  0.0  36.792629  0.0  0.0  0.0
9  0.0  0.0  38.539145  0.0  0.0  0.0

In [48]:
specificitys = np.array(specificitys)
specificitys = np.reshape(specificitys,(int(len(specificitys)/6),6))
df = pd.DataFrame(specificitys)
df

           0          1          2          3           4      5
0  93.905486  97.978303  99.810706  99.867357   99.993758  100.0
1  91.770302  97.399106  99.909641  99.844727   99.977025  100.0
2  85.244909  96.124706  99.679887  99.818127   99.946733  100.0
3  88.909836  96.296120  99.638179  99.836597   99.971848  100.0
4  91.113697  97.094813  99.864650  99.855475   99.956963  100.0
5  85.437240  94.732031  99.565650  99.699154  100.000000  100.0
6  90.508101  97.005399  99.782582  99.840482   99.978744  100.0
7  85.722738  94.809477  99.770385  99.728062  100.000000  100.0
8  92.594595  97.798868  99.852587  99.884805  100.000000  100.0
9  87.159057  95.813806  99.785065  99.849646   99.997530  100.0

In [ ]:
path = '/workspace/Humerus_tendon/dataset/all/label_5ch(biceps)/'

In [ ]:
list_label = glob.glob(path+'*.nii.gz')

In [ ]:
for idx in range(len(list_label)):
#     idx = 0
    label = data_load_nii(list_label[idx])
    label[label!=3]= 0.
    label[label!=0]= 1.    
    image_save_nii(label,list_label[idx].split('/')[-1])

# 건국대 병원

In [49]:
path_gt = 'data/Task01_Tendon_5ch/labelsTs/'
path_pred = 'OUTPUT_FOLDER/Tendon/3D_5ch/'
list_gt = list_sort_nicely(glob.glob(path_gt+'*.nii.gz'))[10:]
list_pred = list_sort_nicely(glob.glob(path_pred+'*.nii.gz'))[10:]
print('gt:',len(list_gt),'pred:',len(list_pred))
list_gt,list_pred

gt: 10 pred: 10

(['data/Task01_Tendon_5ch/labelsTs/massiveRCT_F66 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/partial_02032079 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/partial_02035506 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/partial_02077967 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/small_4 02119076 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/small_4 02120721 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/small_5 01890248 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/small_6 02111419 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/small_6 02225269 segmentation.nii.gz',
  'data/Task01_Tendon_5ch/labelsTs/small_7 02240206 segmentation.nii.gz'],
 ['OUTPUT_FOLDER/Tendon/3D_5ch/massiveRCT_F66.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/partial_02032079.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/partial_02035506.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/partial_02077967.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/small_4  02119076  F64.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/small_4  02120721  M72.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/small_5  01890248  F59.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/small_6  02111419  F57.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/small_6   02225269  F63.nii.gz',
  'OUTPUT_FOLDER/Tendon/3D_5ch/small_7  02240206  M38.nii.gz'])

In [50]:
gt[gt==3]

array([], dtype=float32)

In [51]:
def preprocess_kunkuk(gt,pred):
    gt = gt*pred
    gt[gt!=9]=0
    gt[gt==9]=3
    return gt

In [52]:
dices = []
recalls = []
specificitys = []

for idx_id in range(len(list_pred)):
    num_ch = 6
    print('\n',idx_id,list_gt[idx_id],list_pred[idx_id],'\n')
    gt = data_load_nii(list_gt[idx_id])
    pred = data_load_nii(list_pred[idx_id])
    gt = preprocess_kunkuk(gt,pred)
    gt = one_hot(gt,num_ch)
    pred = one_hot(pred,num_ch)

    for idx_ch in range(num_ch):
        dice = score_dice(gt[idx_ch],pred[idx_ch])
#         recall = score_recall(gt[idx_ch],pred[idx_ch])
        recall = score_recall(pred[idx_ch],gt[idx_ch])
        specificity = score_specificity(gt[idx_ch],pred[idx_ch])
#         print(idx_ch+1, dice)
        dices.append(dice)
        recalls.append(recall)
        specificitys.append(specificity)

 0 data/Task01_Tendon_5ch/labelsTs/massiveRCT_F66 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/massiveRCT_F66.nii.gz


 1 data/Task01_Tendon_5ch/labelsTs/partial_02032079 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/partial_02032079.nii.gz


 2 data/Task01_Tendon_5ch/labelsTs/partial_02035506 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/partial_02035506.nii.gz


 3 data/Task01_Tendon_5ch/labelsTs/partial_02077967 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/partial_02077967.nii.gz


 4 data/Task01_Tendon_5ch/labelsTs/small_4 02119076 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/small_4  02119076  F64.nii.gz


 5 data/Task01_Tendon_5ch/labelsTs/small_4 02120721 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/small_4  02120721  M72.nii.gz


 6 data/Task01_Tendon_5ch/labelsTs/small_5 01890248 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/small_5  01890248  F59.nii.gz


 7 data/Task01_Tendon_5ch/labelsTs/small_6 02111419 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/small_6  02111419  F57.nii.gz


 8 data/Task01_Tendon_5ch/labelsTs/small_6 02225269 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/small_6   02225269  F63.nii.gz


 9 data/Task01_Tendon_5ch/labelsTs/small_7 02240206 segmentation.nii.gz OUTPUT_FOLDER/Tendon/3D_5ch/small_7  02240206  M38.nii.gz

In [ ]:
# dices = []
# recalls = []
# specificitys = []

# for idx_id in range(len(list_pred)):
#     num_ch = 6
#     print('\n',idx_id,list_gt[idx_id],list_pred[idx_id],'\n')
#     gt = data_load_nii(list_gt[idx_id])
#     pred = data_load_nii(list_pred[idx_id])
#     gt = one_hot(gt,num_ch)
#     pred = one_hot(pred,num_ch)

#     for idx_ch in range(num_ch):
#         dice = score_dice(gt[idx_ch],pred[idx_ch])
#         recall = score_recall(gt[idx_ch],pred[idx_ch])
#         specificity = score_specificity(gt[idx_ch],pred[idx_ch])
# #         print(idx_ch+1, dice)
#         dices.append(dice)
#         recalls.append(recall)
#         specificitys.append(specificity)

In [53]:
dices = np.array(dices)
print(dices.mean())
print(dices.shape)
dices = np.reshape(dices,(int(len(dices)/6),6))
df = pd.DataFrame(dices)
df

13.789919358662257
(60,)

     0    1          2    3    4    5
0  0.0  0.0  75.960495  0.0  0.0  0.0
1  0.0  0.0  89.520149  0.0  0.0  0.0
2  0.0  0.0  78.322297  0.0  0.0  0.0
3  0.0  0.0  75.368967  0.0  0.0  0.0
4  0.0  0.0  89.168889  0.0  0.0  0.0
5  0.0  0.0  81.502165  0.0  0.0  0.0
6  0.0  0.0  81.350465  0.0  0.0  0.0
7  0.0  0.0  87.855323  0.0  0.0  0.0
8  0.0  0.0  82.536656  0.0  0.0  0.0
9  0.0  0.0  85.809756  0.0  0.0  0.0

In [54]:
recalls = np.array(recalls)
print(recalls.shape)
recalls = np.reshape(recalls,(int(len(recalls)/6),6))
df = pd.DataFrame(recalls)
df

(60,)

     0    1          2    3    4    5
0  0.0  0.0  61.238954  0.0  0.0  0.0
1  0.0  0.0  81.028484  0.0  0.0  0.0
2  0.0  0.0  64.368651  0.0  0.0  0.0
3  0.0  0.0  60.473676  0.0  0.0  0.0
4  0.0  0.0  80.454745  0.0  0.0  0.0
5  0.0  0.0  68.779456  0.0  0.0  0.0
6  0.0  0.0  68.563661  0.0  0.0  0.0
7  0.0  0.0  78.341055  0.0  0.0  0.0
8  0.0  0.0  70.265883  0.0  0.0  0.0
9  0.0  0.0  75.146311  0.0  0.0  0.0

In [55]:
specificitys = np.array(specificitys)
specificitys = np.reshape(specificitys,(int(len(specificitys)/6),6))
df = pd.DataFrame(specificitys)
df

           0          1          2          3           4      5
0  93.905486  97.978303  99.811345  99.867357   99.993758  100.0
1  91.770302  97.399106  99.909966  99.844727   99.977025  100.0
2  85.244909  96.124706  99.681529  99.818127   99.946733  100.0
3  88.909836  96.296120  99.639595  99.836597   99.971848  100.0
4  91.113697  97.094813  99.868272  99.855475   99.956963  100.0
5  85.437240  94.732031  99.573371  99.699154  100.000000  100.0
6  90.508101  97.005399  99.783345  99.840482   99.978744  100.0
7  85.722738  94.809477  99.772038  99.728062  100.000000  100.0
8  92.594595  97.798868  99.853464  99.884805  100.000000  100.0
9  87.159057  95.813806  99.787270  99.849646   99.997530  100.0